{% extends 'core/base.html' %} 
{% load static %}

{% block title %}Register{% endblock %} 

{% block content %}
<link rel="stylesheet" href="{% static 'contact/css/style.css' %}">
<form 
  method="post" 
  id="contact-form"
  class="container w-50 position-fixed top-50 start-50 translate-middle needs-validation" 
  novalidate
>

  {% csrf_token %}
  <h1 class="h3 mb-3 fw-normal text-center">Contact us !</h1>

  <!-- Success message after form submission -->
  {% if not form.mail.errors and not form.content.errors %}
  <div 
    id="form-ok" 
    class="d-flex justify-content-center alert alert-success text-center text-success fw-bold visually-hidden" 
  >
    <p class="w-75">Thank you for your report ! We have received your request and will process it as soon as possible.</p>
  </div>
  {% endif %}

  <!-- Email -->
  <div class="form-floating">
    {% if form.mail.errors %}
    <input
      type="email"
      id="mail"
      name="mail"
      class="form-control is-invalid"
      value="{{ form.mail.value }}"
    />
    <div class="invalid-feedback mb-2">
      {{ form.mail.errors.0 }}
    </div>
    {% else %}
    <input
      type="email"
      id="mail"
      name="mail"
      class="form-control"
      placeholder="name@example.com"
      value="{{ form.mail.value|default_if_none:'' }}"
    />
    {% endif %}
    <label for="mail">Email address</label>
  </div>

  <!-- Type -->
  <div class="form-floating">
    <select class="form-select" id="type" name="type">
      <option value="C" {% if form.type.value == 'C' %}selected{% endif %}>Contact</option>
      <option value="B" {% if form.type.value == 'B' %}selected{% endif %}>Bug</option>
    </select>
    <label for="type">Report type</label>
  </div>

  <!-- Content -->
  <div class="form-floating mb-3">
    {% if form.content.errors %}
    <textarea
      id="content"
      name="content"
      class="form-control is-invalid"
      placeholder="Leave a comment here"
    ></textarea>
    <div class="invalid-feedback mb-2">
      {{ form.content.errors.0 }}
    </div>
    {% else %}
    <textarea
      id="content"
      name="content"
      class="form-control"
      placeholder="Leave a comment here"
    ></textarea>
    {% endif %}
    <label for="content">Message</label>
  </div>

  <!-- Submit -->
  <button id="form-btn-submit" type="submit" class="btn bg-dark-blue text-white w-100">Submit</button>

</form>
{% endblock %}